{if inComparison()}
	<div class="pp-tools-l-i-text-link compare-icon before active">
		<a href="#" class="novisited pp-tools-link-delete underline" name="fromcomparison"><span></span> /*{'Убрать из сравнения'|translate}*/</a>
	</div>
{else}
	<a href="#" class="novisited pp-tools-l-i-text-link compare-icon before xhr" name="tocomparison" title="/*{'Добавить в сравнение'|translate}*/"><span></span> /*{'Добавить в сравнение'|translate}*/</a>
{/if}

