{if inComparison()}
	<div class="pp-tools-l-i-text-link compare-icon before active">
		<a href="#" class="novisited pp-tools-link-delete underline" name="fromcomparison"><span></span> Убрать из сравнения</a>
	</div>
{else}
	<a href="#" class="novisited pp-tools-l-i-text-link compare-icon before xhr" name="tocomparison" title="Добавить в сравнение"><span></span> Добавить в сравнение</a>
{/if}

