<a class="static-form-communication-i sn-row" href="#Callback" id="callback-contacts">
    <img src="/*{$settings.path.images}*//static-page/contact/phone.png" alt="phone"/>
    <div class="static-form-communication-i-content">
        <p class="static-form-communication-i-txt">/*{'Закажите обратный звонок'|translate}*/<br><span class="b-static-text-danger">/*{'Вам перезвоним'|translate}*/!</span></p>
    </div>
</a>