<div class="contact-phones-link">
    <a href="#Callback" class="contact-phones-l-i-link xhr" id="callback-header">
        <i class="icon-callback"></i>
        <span class="underline">Обратный звонок</span>
    </a>
</div>