{if typeof IsMarkDown == "undefined" || !IsMarkDown}
	{if inWaitlist() && App.get("User").isAuth()}
		<span class="btn-link">
			<button class="btn-link-i" name="fromwaitlist">Не&nbsp;сообщать, когда появится</button>
		</span>
	{else}
		<span class="btn-link">
			<button class="btn-link-i" name="towaitlist">Сообщить, когда появится</button>
		</span>
	{/if}
{/if}